.re-engage-wrapper {
    bottom: 0;
    left: 0;
    display: none;
    opacity: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 421337;
    background: rgba(255, 255, 255, 0.75);
    border-top: 1px solid #d5d5d5;
}
#slug_fixedBottom {
    display: none !important;
}
.re-engage-close {
    color: #000;
    cursor: pointer;
    font-size: 38px;
    height: 40px;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    &:before {
        content: "×";
    }
}
.re-engage-big {
    position: relative;
    margin: 0 auto;
    width: 320px;
    font-family: "FranklinITCProLight", "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background: rgb(255, 255, 255);
    color: #2a2a2a;
    text-align: left;
    padding-left: 10px;
}
.js-re-engage-click {
    bottom: 0;
    cursor: pointer;
    height: 32px;
    position: absolute;
    width: 100%;
}
.js-re-engage-sm {
    cursor: pointer;
}
.js-re-engage-sm .re-engage-close {
    display: none;
}
.re-engage-label {
    font-family: "FranklinITCProBold", "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    &:before {
        background-color: #2A2A2A;
        content: "";
        display: block;
        height: 0.25rem;
        margin-bottom: 0.625rem;
        width: 2rem;
    }
}
.re-engage-label {
    padding-top: 12px;
}
.re-engage-label-header {
    line-height: 1.25rem;
    font-size: 1rem;
    margin: 0;
}
.re-engage-secondary {
    padding-left: 16px;
    margin: 0;
}
.re-engage-text {
    font-weight: normal;
    padding-top: 12px;
    padding-right: 20px;
}
.re-engage-text-link {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: #2e6d9d;
    }
}
.re-engage-sponsor {
    font-size: .6rem;
}
.re-engage-sponsor-logo {
    width: 120px;
    display: inline-block;
    vertical-align: middle;
}