<link id="re-engage-style" href="https://www.washingtonpost.com/wp-stat/advertising/ReEngage/css/highlights.min.css" rel="stylesheet">
<div class="re-engage-wrapper">
    <div class="re-engage">
        <div class="re-engage-big" data-min-height="60" data-max-height="167" style="height:167px;">
            <div class="re-engage-label">
                <h6 class="re-engage-label-header">TL;DR</h6>
                <div class="re-engage-close"></div>
            </div>
            <div class="re-engage-text"><a href="https://www.washingtonpost.com/opinions/germanys-defiant-decency-in-the-refugee-crisis/2015/12/10/94c6a81c-9f6d-11e5-8728-1af6af208198_story.html" class="re-engage-text-link">Merkel: "When it comes to human dignity, we cannot make compromises." Germany pledged 85% of resettlement spots.</a></div>
            <div class="re-engage-sponsor">
                sponsored by
                <a href="%%CLICK_URL_UNESC%%" target="_blank"><img src="https://www.washingtonpost.com/wp-stat/advertising/Lincoln/Lincoln_300x600/lincoln_MKX_logo_small.png" class="re-engage-sponsor-logo" alt="" border="0"></a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../js/min/scripts.min.js"></script>
<script type="text/javascript">
(function($) {
    var clickThru = "%%CLICK_URL_UNESC%%";
    $('head', top.parent.document).append(document.getElementById('re-engage-style'));
    var scrollStars = document.getElementsByClassName('re-engage-wrapper')[0];
    $('body', top.parent.document).prepend(scrollStars);
    ReEngageScroller.init(clickThru, scrollStars);
})(top.jQuery);
</script>
