<style id="fade-scroll-style" type="text/css">
#fade-scroll-wrapper {
    bottom: 0;
    left: 0;
    display: none;
    opacity: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 421337;
    background: rgba(255, 255, 255, 0.75);
    border-top: 1px solid #d5d5d5;
}

#slug_fixedBottom {
    display: none;
}

#fade-scroll-close {
    color: #000;
    cursor: pointer;
    font-size: 38px;
    height: 40px;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
}

#fade-scroll-close:before {
    content: "×";
}

#fade-scroll-big {
	cursor: pointer;
    height: 150px;
    position: relative;
    margin: 0 auto;
    width: 320px;
    font-family: "FranklinITCProBold", "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background: rgb(255,255,255);
    color: #2a2a2a;
    text-align: left;
    padding-left: 10px;
}

#fade-scroll-sm {
    display: none;
    cursor: pointer;
    height: 64px;
}

.js-fade-scroll-click {
    bottom: 0;
    cursor: pointer;
    height: 32px;
    position: absolute;
    width: 100%;
}

.js-fade-scroll-sm #fade-scroll-close {
    display: none;
}

.highlights-label:before {
    background-color: #2A2A2A;
    content: "";
    display: block;
    font-family: "FranklinITCProBold", "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 0.25rem;
    margin-bottom: 0.625rem;
    width: 2rem;
}

.highlights-label {
	padding-top: 12px;
}

.highlights-label > h6 {
	line-height: 1.25rem;
	font-size: 1rem;
	margin: 0;
}

.highlights-text {
	font-weight: normal;
	padding-top: 12px;
	padding-bottom: 12px;
}

.highlights-sponsor {
	font-size: .6rem;
}
</style>
<div id="fade-scroll-wrapper">
    <div id="fade-scroll">
        <div id="fade-scroll-big">
        	<div id="js-fade-scroll-click"></div>
			<div class="highlights-label">
				<h6>Highlights</h6>
				<div id="fade-scroll-close"></div>
			</div>
			<div class="highlights-text">Merkel: "When it comes to hiuman dignity, we cannot make compromises." Germany pledged 85% of resettlement spots.</div>
			<div class="highlights-sponsor">sponsored by Lincoln</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="../js/min/scripts.min.js"></script>
<script type="text/javascript">
(function($) {
    var clickThru = "%%CLICK_URL_UNESC%%";
    var targetStyle = document.getElementById('fade-scroll-style');
    $('head', top.parent.document).append(targetStyle);
    var scrollStars = document.getElementById('fade-scroll-wrapper');
    $('body', top.parent.document).prepend(scrollStars);
    var starScroller = new StarScroller(clickThru, scrollStars);
})(top.jQuery);
</script>
