<link id="re-engage-style" href="https://www.washingtonpost.com/wp-stat/advertising/ReEngage/css/recommended-post.min.css" rel="stylesheet">
<div class="re-engage-wrapper">
    <div class="re-engage">
        <div class="re-engage-big" data-min-height="60" data-max-height="150" style="height:150px;">
            <div class="re-engage-label">
                <h6 class="re-engage-label-header">Looking for something else?</h6>
                <div class="re-engage-close"></div>
            </div>
            <div class="re-engage-text">
                <ul class="re-engage-secondary">
                    <li><a href="" class="re-engage-text-link">This is one headline to a story</a></li>
                    <li><a href="" class="re-engage-text-link">This is another headline to a story</a></li>
                </ul>
            </div>
            <div class="re-engage-sponsor">
                sponsored by
                <a href="%%CLICK_URL_UNESC%%" target="_blank"><img src="https://www.washingtonpost.com/wp-stat/advertising/Lincoln/Lincoln_300x600/lincoln_MKX_logo_small.png" class="re-engage-sponsor-logo" alt="" border="0"></a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../js/min/scripts.min.js"></script>
<script type="text/javascript">
(function($) {
    var clickThru = "%%CLICK_URL_UNESC%%";
    $('head', top.parent.document).append(document.getElementById('re-engage-style'));
    var scrollStars = document.getElementsByClassName('re-engage-wrapper')[0];
    $('body', top.parent.document).prepend(scrollStars);
    ReEngageScroller.init(clickThru, scrollStars);
})(top.jQuery);
</script>