<style id="fade-scroll-style" type="text/css">
#fade-scroll-wrapper {
    bottom: 0;
    left: 0;
    display: none;
    opacity: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 421337;
    background: rgba(255, 255, 255, 0.75);
    border-top: 1px solid #d5d5d5;
}

#slug_fixedBottom {
    display: none !important;
}

#fade-scroll-close {
    color: #000;
    cursor: pointer;
    font-size: 38px;
    height: 40px;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
}

#fade-scroll-close:before {
    content: "×";
}

#fade-scroll-big {
    position: relative;
    margin: 0 auto;
    width: 320px;
    font-family: "FranklinITCProLight", "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background: rgb(255, 255, 255);
    color: #2a2a2a;
    text-align: left;
    padding-left: 10px;
}

#fade-scroll-sm {
    display: none;
    cursor: pointer;
    height: 60px;
}

.js-fade-scroll-click {
    bottom: 0;
    cursor: pointer;
    height: 32px;
    position: absolute;
    width: 100%;
}

.js-fade-scroll-sm {
    cursor: pointer;
}

.js-fade-scroll-sm #fade-scroll-close {
    display: none;
}

.rec-post-label {
    font-family: "FranklinITCProBold", "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.rec-post-label:before {
    background-color: #2A2A2A;
    content: "";
    display: block;
    height: 0.25rem;
    margin-bottom: 0.625rem;
    width: 2rem;
}

.rec-post-label {
    padding-top: 12px;
}

.rec-post-label-header {
    line-height: 1.25rem;
    font-size: 1rem;
    margin: 0;
}

.rec-post-secondary {
    padding-left: 16px;
    margin: 0;
}

.rec-post-text {
    font-weight: normal;
    padding-top: 12px;
    padding-right: 20px;
}

.rec-post-text-link {
    text-decoration: none;
    color: inherit;
}

.rec-post-text-link:hover {
    color: #2e6d9d;
}

.rec-post-sponsor {
    font-size: .6rem;
}

.rec-post-sponsor-logo {
    width: 120px;
    display: inline-block;
    vertical-align: middle;
}
</style>
<div id="fade-scroll-wrapper">
    <div id="fade-scroll">
        <div id="fade-scroll-big" data-min-height="60" data-max-height="150" style="height:150px;">
            <div id="js-fade-scroll-click"></div>
            <div class="rec-post-label">
                <h6 class="rec-post-label-header">Looking for something else?</h6>
                <div id="fade-scroll-close"></div>
            </div>
            <div class="rec-post-text">
                <ul class="rec-post-secondary">
                    <li><a href="" class="rec-post-text-link">This is one headline to a story</a></li>
                    <li><a href="" class="rec-post-text-link">This is another headline to a story</a></li>
                </ul>
            </div>
            <div class="rec-post-sponsor">
                sponsored by
                <a href="%%CLICK_URL_UNESC%%" target="_blank"><img src="https://www.washingtonpost.com/wp-stat/advertising/Lincoln/Lincoln_300x600/lincoln_MKX_logo_small.png" class="rec-post-sponsor-logo" alt="" border="0"></a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://www.washingtonpost.com/wp-stat/advertising/ReEngage/js/scripts.min.js"></script>
<script type="text/javascript">
(function($) {
    var clickThru = "%%CLICK_URL_UNESC%%";
    var targetStyle = document.getElementById('fade-scroll-style');
    $('head', top.parent.document).append(targetStyle);
    var scrollStars = document.getElementById('fade-scroll-wrapper');
    $('body', top.parent.document).prepend(scrollStars);
    var starScroller = new StarScroller(clickThru, scrollStars);
})(top.jQuery);
</script>